@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* body{
    font-family: century goltic;
} */

main{
    padding: 35px 100px 100px 100px;
    background-color:snow;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.div-error-sesion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 2% 30%;
    background-color: rgb(252, 201, 201);
}

.div-boton-cerrar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    margin: 2% 30%;  
    background-color: rgb(212, 212, 212);
    opacity: 1;
    visibility: visible;
}

.txt-p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.msg-error-inicio-sesion{
    color: rgb(207, 54, 54);
}

.msg-cerrar-sesion{

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    border: 1px solid black;
    background-color: rgb(232, 232, 252);
}

.text-h2-form{
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

.h1-text{
    font-family: 'Lilita One', cursive;
}

.social-icons {
    margin-top: 20px;
}

.social-icon-login {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.social-icon-login:hover {
    color: #3593ff;
}

.container-form{
    margin-right: 100px;
}

.container-form p{
    text-align: center;
}

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(194, 209, 223);
    color: #000;
}

label{
    font-size: 1.3em;
    display: block !important;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px 20px !important;
    border-radius: 10px;
    border: none;
}

input[type="submit"]{
    /* background-color:#208cff; */
    background: linear-gradient(to bottom,#4ba2ff, #1165b3);
    color: #fff;
    border-radius: 25px;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

input[type="submit"]:hover{
    background: linear-gradient(to bottom, #6991ff, #4418e4);
}

/* Mobile */
@media(max-width:1350px){
    main{
        padding: 10% 5%;
    }
    .div-error-sesion, .div-boton-cerrar{
        margin: 2% 0;
        flex-direction: column;
    }

    .txt-p{
        margin: 20px 0;
    }

    .div-error-sesion > button, .div-boton-cerrar > button{
        width: 50%;
        height: 50px;
    }

    .div-error-sesion > button > i, .div-boton-cerrar > button > i{
        font-size: 20px;
    }

    .container{
        display: block;
    }

    .text-h2-form{
        text-align: center;
    }

    .social-icons{
        margin-top: 0;
        margin-bottom: 15px;
    }

    .social-icon-login{
        font-size: 35px;
        margin: 0 13px;
    }

    .container-form{
        margin: 5px;
    }

    label{
        font-size: 18px;
    }

    .text-h2-form .btn{
        font-size: 20px;
        padding: 15px;
        margin-top: 20px;
    }
}
