@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    padding: 5%;
    background-color: snow;
    border-bottom: 1px solid rgb(163, 163, 163);
    /* background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.6),
        rgb(0,0,0,0.6)), url('../imagenes/img-holograma.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.texto-form{
    display: block;
    margin: 0 30%;
    text-align: center;
}

.h1-texto{
    color: rgb(0, 47, 148);
    font-family: 'Lilita One', cursive;
}

.p-texto{
    font-size: 1.2em;
}

.p-texto-privacidad{
    font-size: normal;
}

form {
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.2em;
}

fieldset {
    border: none;
    padding: 2rem;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0;
    width: 100%;
    padding: 10px 0;
}

input,
textarea,
select {
    font-size: 1.2em;
    width: 100%;
    padding: 15px;
    margin: 20px;
}

input[type="submit"]{
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
    border: none;
    border-radius: 16px;
}

input[type="submit"]:hover{
    background-color: dodgerblue;
}

/* Mobile */
@media(max-width:1350px){
    .texto-form{
        margin: 10%;
    }
}

