*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

main{
    background-color:rgb(255, 252, 239);
}

.container{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row; */
    text-align: center;
}

.container
.row
.col{
    margin: 2% 0 5% 0;
    padding: 0;
}

.col{
    overflow: scroll;
}

.div-text{
    padding: 15px;
    background-color: yellowgreen;
}

.welcome-h3{
    text-align: center;
    color: rgb(1, 85, 1);
}

.table{
    margin-bottom: 0px!important;
}

.table>thead, .table>tbody{
    vertical-align: middle!important;
}


@media(max-width:990px){
    /* Para la tabla */
    main{
        height: auto;
    }
    
    .container{
        display: block;
    }

    .row{
        margin: 0px!important;
    }
}