#header{
    position: sticky;
    top: 0;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* text-align: center; */
    background-color: #fff;
    z-index: 100;   
    border-bottom: 1px solid #000;
}

.div-img-header img{
    margin-left: 100px;
    max-width: 100px;
    min-height: 100px;
}

.nav-bar{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.nav-bar, li{
    list-style-type: none;
}

.nav-bar .nav-link{
    text-decoration: none;  
    font-size: 20px;
    padding: 35px 35px;
    transition: none;
}

.nav-bar .nav-link:hover{
    background-color: #3d3d3d;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.nav-bar .link-login:hover{
    background-color: rgb(120, 145, 255);
    color: #fff;
}

.nav-bar .link-cerrar-sesion:hover{
    background-color: rgb(250, 57, 57);
    color: #fff;
}

/* Mobile */
@media(max-width: 1350px){
    #header{
        /* position: relative; */
        /* display: block; */
        flex-direction: row;
        /* justify-content: center; */
    }

    .div-img-header > img{
        margin: 10px 0 0 0;
    }

    .nav-bar{
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-bar>li{
        flex-direction: column;
        align-items: end;
        width: 100%;
        text-align: center;
    }

    .abrir-menu, .cerrar-menu{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 3.25em;
        cursor: pointer;
    }

    .abrir-menu{
        color: blue;
        margin-right: 10px;
    }

    .cerrar-menu{
        color: red;
    }

    .header-link{
        width: 20%;
        margin: 0;
        font-size: 3em;
    }

    .carousel-caption{
        display: grid;
        place-content: center;
    }
}