@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* body{
    font-family: century goltic;
} */

/* SECCION DEL SLIDER */
.d-item{
    height: 50vh;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

/* .carousel-caption > a > button {
    margin-bottom: 1rem !important;
    margin-top: 3rem !important;
} */

/* SECCION DE BIENVENIDA */
#sct-welcome{
    /* height: 100vh; */
    padding: 2% 0;
    background-color: #fff8dc;
}

#sct-welcome .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sct-welcome .item > img{
    margin: 50px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#sct-welcome .div-text-welcome{
    font-family: Caprasimo;
}

#sct-welcome .div-p-welcome{
    line-height: 30px;
    text-align: justify;
}

.boton-icon:hover .icon{
    transform: translateX(5px);
}

.icon{
    transition: transform 0.3s ease;
}


/* SECCION DE LINK REGISTRARSE */
#sct-link-formulario{
    /* height: 60vh; */
    padding: 5% 0;
    background-color:#303030;
}

#sct-link-formulario .container{
    display: flex;
    justify-content: center;
}

#sct-link-formulario .elemento{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sct-link-formulario .div-ele{
    padding: 20px 0;
}

#sct-link-formulario .div-h2-form{
    font-size: 3em;
    font-family: 'Bebas Neue', sans-serif;
    color:honeydew;
}

/* Mobile */
@media(max-width: 1350px){
    .d-item{
        height: 70vh;
    }

    .d-item h1{
        font-size:25px;
    }

    #sct-welcome{
        text-align: center;
        height: 100%;
    }

    #sct-welcome .container{
        display: block;
        justify-content: center;
        /* margin: 20px 0; */
        padding: 0;
    }

    #sct-welcome .item:first-child{
        padding: 0 25px;
    }

    #sct-welcome .item > img{
        margin: 20px 0;
    }

    #sct-link-formulario{
        padding: 25% 0;
    }

    #sct-link-formulario .container{
        display: block;
        text-align: center;
    }

    #sct-link-formulario .div-ele{
        padding: 0;
    }

    .boton-icon{
        margin: 20px 0;
    }
}